# Database (XAMPP / MySQL Default)
DATABASE_URL="mysql://root:@localhost:3306/replate"

# NextAuth
AUTH_SECRET="replate-secret-key-change-in-production-2026"
AUTH_URL="http://localhost:3000"
NEXTAUTH_URL="http://localhost:3000"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_APP_NAME="Replate"
